@font-face {
  font-family: "Minecraftia";
  src: url('fonts/Minecraftia.woff') format('woff'),
       url('fonts/Minecraftia.ttf')  format('truetype');
  font-style: normal;
  font-weight: 100;
}

body {
    font-family: "Minecraftia", Fallback, sans-serif;
    font-size: 24px;
    font-weight: 100;
}


.refs {
  border-style: solid;
  border-top-color: FFFFFF;
  border-left-color: FFFFFF;
  border-bottom-color: 373737;
  border-right-color: 373737;
  position: -webkit-sticky;
  position: sticky;
  padding: 6px;
  background-color: C6C6C6;
  top: 8px;
}

.refs img:hover {
  opacity: 0.5;
}

.refs a {
  display: inline-block;
  vertical-align: top;
  background-color: 8B8B8B;
  border-style: solid;
  border-top-color: 373737;
  border-left-color: 373737;
  border-bottom-color: FFFFFF;
  border-right-color: FFFFFF;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}

.refs img {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: pixelated;
  width: 48;
  height: 48;
}

.title {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}